use_default_settings:
  engines:
    keep_only:
      - google cse
      - yahoo
      - wikipedia
engines:
  - name: google cse
    disabled: false
  - name: yahoo
    disabled: false
  - name: wikipedia
    disabled: false
server:
  secret_key: "REPLACE_WITH_RANDOM_SECRET"
  limiter: false
  image_proxy: false
search:
  safe_search: 0
  formats:
    - html
    - json
